/* You can add global styles to this file, and also import other style files */
:root{
  --primary-color: #b9b4d9;
  --secundary-color: #fff;
}
[data-theme="dark"]{
  --primary-color: #b9b4d9;
  --secundary-color: #0a0b0d;
}
[data-theme="blue"]{
  --primary-color: #3621c7;
  --secundary-color: #0a0b0d;
}
body {
  background: var(--primary-color);
    /*rgb(235, 234, 233);;*/
  background-size: cover;
  text-align: center;
  font-family: Georgia, serif;
}

.container{
  margin: auto;
	width: 70%;
}

/*-- Profile-form --*/
.top-grids {
  background: linear-gradient(45deg, #56ab2f, #a8e063);
}

.input-group>.input-group-prepend {
  flex: 0 0 40%;
}
.input-group .input-group-text {
  width: 100%;
}

.text-danger {
  color: #ff0000!important;
  font-weight: 300;
}

.input-group-text {
  font-weight: 600;
}

.w3l-main h3, .w3l-main-2 h3, .form h3{
  padding: 0.5% 0%;
  background: var(--primary-color);
  color: var(--secundary-color);
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.w3l-main-2 input[type="reset"], .w3l-main-2 input[type="submit"] {
  border-radius: 1px;
  padding: 1% 1%;
  border: none;
  outline: none;
  font-size: 1em;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: var(--secundary-color);
  background: var(--primary-color);
  text-transform: uppercase;
  cursor: pointer;
  margin: 1%;
  transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  font-family: Georgia, serif;
}
.w3l-main-2 input[type="reset"]:hover, .w3l-main-2 input[type="submit"]:hover {
  background: var(--secundary-color);
  color: var(--primary-color);
transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
}
/*-- //Login-form --*/

.w3l-main-2 form {
  width: 60%;
  margin: 4% auto;
}
.w3l-main-2 select,.w3l-main-2 input[type="text"],.w3l-main-2 select,.w3l-main-2 input[type="radio"],.w3l-main-2 input[type="number"], .w3l-main-2 input[type="password"], .w3l-main-2 input[type="email"] {
  border: none;
  outline: none;
  font-size: 1em;
  color: var(--secundary-color);
  font-family: Georgia, serif;
}
.w3l-main-2 input[type="submit"]{
margin:7% 0em 1.4%;
font-family: Georgia, serif;
}

.btn-eazybank{
    color: var(--primary-color);
    background-color: #57b846;
    border-color: #57b846;
}

.table-responsive-md{
  margin: 100px;
}

.thead-light{
  background-color: #57b846;
  color: #ff0000;
}

