<app-header></app-header>
<div class="container py-xl-1 py-lg-1" id="services">

  <div class="row">

    <div class="col-sm-6 mb-3">
      <div class="card border-light p-3">
        <div class="card-body">
          <h5 class="card-title">Pessoas</h5>
          <p class="card-text">Controle total dos clientes, colaboradores e fornecedores.  </p>
          <a href="#" class="card-link">More</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 mb-3">
      <div class="card border-light p-3">
        <div class="card-body">
          <h5 class="card-title">Perfis e Usuários</h5>
          <p class="card-text">Controle total das operações dos usuários através dos Perfis de Acesso. </p>
          <a href="#" class="card-link">More</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-6 mb-3">
      <div class="card border-light p-3">
        <div class="card-body">
          <h5 class="card-title">Estoque</h5>
          <p class="card-text">Controle de estoque com ficha técnica para o estabelecimento.</p>
          <a href="#" class="card-link">More</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 mb-3">
      <div class="card border-light p-3">
        <div class="card-body">
          <h5 class="card-title">Financeiro</h5>
        <p class="card-text">Controle Financeiro com resumo de valores de entrada e saída</p>
          <a href="#" class="card-link">More</a>
        </div>
      </div>
    </div>

  </div>
</div>
